<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Completed MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  <h1>Completed MadLib!</h1>
  <p>Today I went to my favorite Taco Stand called the @Model.Adjective @Model.Animal.   
  </p>
  <p>
    Unlike most food stands, they cook and prepare the food in a @Model.Ride while you @Model.Verb.  
  </p>
  <p>
    The best thing on the menu is the @Model.Color @Model.Noun. 
  </p>
  <p>
    Instead of ground beef they fill the taco with @Model.Foods, cheese, and top it off with a salsa made from @Model.Foods. 
  </p>
  <p>
    If that doesn't make your mouth water, then it's just like @Model.Person always says: @Model.Saying!
  </p>
  </body>
</html>